
    {% if user.is_authenticated %}

    <h1> <a href="http://127.0.0.1:8000"> SUPER SKLEP </a> </h1><br>
    <h2> {{dane_z_modelu.nazwa}} </h2><br>
    <h2> {{dane_z_modelu.cena}} zł</h2>

    <h3>Opis:</h3>
    <h4>{{dane_z_modelu.opis}}</h4>
    <img src="{{dane_z_modelu.obraz.obraz}}" alt="{{dane_z_modelu.nazwa}}"><br>
    <button onclick="window.location.href='http://127.0.0.1:8000//koszyk/{{dane_z_modelu.nazwa}}';" > Kup teraz </button>

    {% else %}

    <h1> <a href="http://127.0.0.1:8000"> SUPER SKLEP </a> </h1><br>
    <h2> {{dane_z_modelu.nazwa}} </h2><br>
    <h2> {{dane_z_modelu.cena}} zł</h2>

    <h3>Opis:</h3>
    <h4>{{dane_z_modelu.opis}}</h4>
    <img src="{{dane_z_modelu.obraz.obraz}}" alt="{{dane_z_modelu.nazwa}}"><br>
    <button onclick="window.location.href='http://127.0.0.1:8000/accounts/login/';" > Kup teraz </button>

    {% endif %}

